.header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #000;

  margin-bottom: 30px;
}

button {
  padding: 10px 30px;
}

.content {
  display: flex;
}
